<div id="main-lobby">
  <div class="container-lobby">
    <div class="side-left">
      <div class="logo">
        <svg viewBox="0 0 24 24" aria-hidden="true"
          class="r-jwli3a r-4qtqp9 r-yyyyoo r-rxcuwo r-1777fci r-m327ed r-dnmrzs r-494qqr r-bnwqim r-1plcrui r-lrvibr">
          <g>
            <path
              d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
            </path>
          </g>
        </svg>
      </div>
    </div>
    <div class="side-right text-black">
      <div class="logo">
        <svg viewBox="0 0 24 24" aria-hidden="true"
          class="r-jwli3a r-4qtqp9 r-yyyyoo r-rxcuwo r-1777fci r-m327ed r-dnmrzs r-494qqr r-bnwqim r-1plcrui r-lrvibr">
          <g>
            <path
              d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
            </path>
          </g>
        </svg>
      </div>
      <h2>Lo que está <br>pasando ahora</h2>
      <h4>Únete a Twitter hoy mismo.</h4>
      <button class="btn-google" disabled>
        <img src="../../../assets/img/icons/logoGoogle.png">
        <p>Registrarse con Google</p>
      </button>
      <button class="btn-apple" disabled>
        <img src="../../../assets/img/icons/logoApple.png">
        <p>Registrarse con Apple</p>
      </button>
      <div class="separator">
        <hr>
        <p>o</p>
        <hr>
      </div>
      <button class="btn-tel text-black"
              routerLink="auth/register"  >Registrate con el número de teléfono</button>
      <p class="text-terms">Al registrarte, aceptas los
        <span>Términos de servicio</span>
        y la
        <span>Política de privacidad</span>
        , incluida la política de
        <span>Uso de cookies</span>.
      </p>

      <h5>¿Ya tienes una cuenta?</h5>
      <button class="btn-login"
              routerLink="auth/login">Iniciar sesión</button>
    </div>
  </div>
  <div class="footer text-black">
    <div class="buttons">
      <a href="#">Acerca de</a>
      <a href="#">Centro de Ayuda</a>
      <a href="#">Condiciones de Servicio</a>
      <a href="#">Politica de privacidad</a>
      <a href="#">Politica de cookies</a>
      <a href="#">Accesibilidad</a>
      <a href="#">Información de anuncios</a>
      <a href="#">Blog</a>
      <a href="#">Estado</a>
      <a href="#">Empleos</a>
      <a href="#">Recursos de marca</a>
      <a href="#">Publicidad</a>
      <a href="#">Marketing</a>
      <a href="#">Twitter para empresas</a>
      <a href="#">Desarrolladores</a>
      <a href="#">Guía</a>
      <a href="#">Configuración</a>
      <p>&copysr; {{ year }} Twitter,Inc.</p>
    </div>
  </div>
</div>
